@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media (max-width: 1400px) {
  *,
  *::before,
  *::after {
    font-size: 14px;
  }
}

body {
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

[class$=-heading] {
  font-size: 1.26rem;
  font-weight: 700;
}

.link {
  color: #f0894d;
  font-weight: 600;
}
.link.edit {
  margin-right: 4%;
}

body {
  display: grid;
  grid-template-columns: 5% minmax(280px, 1fr) repeat(10, 1fr);
  grid-template-rows: auto;
  gap: 0rem;
  color: #111111;
  background: #fcfcfc;
}
@media (max-width: 1400px) {
  body {
    grid-template-columns: 5% minmax(235px, 1fr) repeat(10, 1fr);
  }
}
@media (max-width: 992px) {
  body {
    grid-template-columns: 1fr;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.nav {
  grid-column: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  background: #fcfcfc;
  height: 100vh;
  padding-top: 1rem;
  gap: 1rem;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Stay on top */
}
@media (max-width: 992px) {
  .nav {
    display: flex;
    flex-direction: row;
    padding: 0.75rem 0.75rem;
    height: 70px;
  }
}
.nav .logo {
  height: 4.375rem;
  width: 100%;
  background: url("../assets/images/image-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-bottom: solid 1px #9d9d9d;
}
@media (max-width: 992px) {
  .nav .logo {
    height: 3.125rem;
    width: 3.125rem;
    border-bottom: none;
  }
}
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 992px) {
  .nav-items {
    flex-direction: row;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #fcfcfc;
    position: fixed;
  }
}
.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
  height: 4.375rem;
}
.nav-btn.active {
  background: #f2ece2;
}
.nav-btn:hover {
  background: #f2ece2;
}
.nav-btn.help {
  font-weight: bold;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.25rem;
  aspect-ratio: 1;
  background-color: #111111;
  border-radius: 50%;
  color: #fcfcfc;
  margin-bottom: 2rem;
}
@media (max-width: 992px) {
  .nav-btn.help {
    position: fixed;
    bottom: 70px;
    right: 21px;
    margin-bottom: 0px;
  }
}
.nav-btn svg {
  width: 2rem;
  height: 2rem;
  color: #111111;
  stroke-width: 0.5;
}

.user-profile-nav {
  display: none;
}

@media (max-width: 992px) {
  .user-profile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex-direction: row;
  }
  .user-profile-nav .profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex-direction: row;
  }
  .user-profile-nav .user-name {
    font-weight: 600;
    margin-top: -7px;
  }
  .user-profile-nav .btn-bell {
    font-size: 1.25rem;
  }
  .btn-bell {
    font-size: 1.25rem;
  }
  .more-icon {
    background-color: rgba(241, 182, 139, 0.3490196078);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-direction: row;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
  }
  .more-icon i {
    color: #f0894d;
  }
}
.btn-bell {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
}

.notification-dot {
  position: absolute;
  top: 0.375rem;
  right: 0.25rem;
  transform: translate(30%, -30%);
  width: 8px;
  height: 8px;
  background-color: #f0894d;
  border-radius: 50%;
}

.sidebar {
  grid-column: 2/3;
  background-color: #f2ece2;
}
@media (max-width: 1200px) {
  .sidebar {
    display: none;
  }
}
.sidebar .brand-container {
  width: 100%;
  border-bottom: solid 1px #9d9d9d;
  padding: 0rem 1rem;
  padding-bottom: 0.6rem;
  padding-top: 1.69rem;
  line-height: 1.5rem;
}
.sidebar .brand-container .brand-title {
  min-width: 220px;
}
.sidebar .brand-container .logo-text {
  font-weight: 600;
}
.sidebar .brand-container .brand-subtitle {
  font-size: 0.875rem;
  min-width: 250px;
}
.sidebar .menu {
  margin-top: 2rem;
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 1.2rem;
}
.sidebar .menu-item {
  font-weight: 600;
  font-size: 1.06rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}
.sidebar .menu .icon-right {
  display: flex;
  justify-content: space-between;
  height: 24px;
  width: 22px;
}
.sidebar .projects-sublist,
.sidebar .tasks-sublist {
  padding-left: 1rem;
}
.sidebar .sublist-item {
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
  color: rgb(53, 52, 52);
  cursor: pointer;
}
.sidebar .sublist-item:hover {
  transform: translateX(5px);
  color: #000;
}
.sidebar .sublist-item:last-child {
  font-weight: 600;
}

.menu-group {
  width: 100%;
}

.projects-sublist,
.tasks-sublist {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.menu-group:hover .projects-sublist,
.menu-group:hover .tasks-sublist {
  max-height: 500px; /* adjust as needed */
  opacity: 1;
}

.menu-group {
  width: 100%;
}
.menu-group .menu-item.expandable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.menu-group .menu-item.expandable .icon-right {
  transition: transform 0.3s ease;
}
.menu-group:hover .menu-item.expandable .icon-right {
  transform: rotate(90deg);
}

.main-section {
  grid-column: 3/9;
  padding: 1rem 2rem;
  background-color: #fcfcfc;
}
@media (max-width: 1200px) {
  .main-section {
    grid-column: 2/8;
  }
}
@media (max-width: 992px) {
  .main-section {
    grid-column: 1/2;
  }
}

.today-date {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.search-box {
  position: relative;
  width: 100%;
  margin-bottom: 2rem;
}

.search-input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  border: 1px solid #eee8e1;
  border-radius: 9999px;
  background: #fff;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.2s;
}

.search-input::placeholder {
  color: #696969;
}

.search-box i {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #696969;
  font-size: 0.9rem;
}

.search-input:focus {
  border-color: #696969;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.avtars-container.peach {
  max-width: 600px;
  display: flex;
  align-items: center;
}
.avtars-container.peach .avtar {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fcbea4;
  position: relative;
  margin-left: -1.0416666667rem;
  z-index: 2;
}
.avtars-container.peach .avtar:last-child {
  z-index: 1;
}
.avtars-container.peach .avtar:first-child {
  margin-left: 0;
}
.avtars-container.yellow {
  max-width: 600px;
  display: flex;
  align-items: center;
}
.avtars-container.yellow .avtar {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fce6bd;
  position: relative;
  margin-left: -1.0416666667rem;
  z-index: 2;
}
.avtars-container.yellow .avtar:last-child {
  z-index: 1;
}
.avtars-container.yellow .avtar:first-child {
  margin-left: 0;
}

.emp-section {
  grid-column: 9/-1;
  padding: 1rem 2rem;
  box-shadow: -10px 0 10px -10px rgba(157, 157, 157, 0.4);
}
@media (max-width: 1200px) {
  .emp-section {
    grid-column: 8/-1;
  }
}
@media (max-width: 992px) {
  .emp-section {
    grid-column: 1/2;
    margin-bottom: 100px;
  }
}

.emp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 1.6125rem;
  margin-bottom: 3rem;
}
@media (max-width: 992px) {
  .emp-header {
    margin-bottom: 1rem;
  }
}
.emp-header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-direction: row;
}
@media (max-width: 992px) {
  .emp-header-right {
    display: none;
  }
}
.emp-header-right > * {
  cursor: pointer;
}
.emp-header .profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-direction: row;
}
.emp-header .user-role {
  color: gray;
}
.emp-header .user-name {
  font-weight: 800;
  color: #111111;
  margin-top: -7px;
}
.emp-header .more-icon {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  background-color: rgba(241, 182, 139, 0.3490196078);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
}
.emp-header .more-icon i {
  color: #f0894d;
}

.team-heading {
  margin-bottom: 1rem;
}

.team-member-container {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-member-container .avtar {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid none;
  position: relative;
  margin-left: 0.25rem;
}
.team-member-container .avtar:first-child {
  margin-left: 0;
}
@media (max-width: 992px) {
  .team-member-container {
    max-width: none;
  }
}

.project-stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 600px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin: 2rem auto;
  border: #eee8e1 1px solid;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (max-width: 1400px) {
  .project-stats-container {
    padding: 0.5rem 1rem;
    max-width: none;
  }
}

.plus {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px dashed #f0894d;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  background: rgba(241, 182, 139, 0.3490196078);
  color: #f0894d;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  transition: all 0.3s ease;
  aspect-ratio: 1;
}

.project-stat-tagline {
  font-size: 0.875rem;
  color: rgb(88, 88, 88);
}

.project-stat-text {
  font-size: 1.25rem;
}
@media (max-width: 1400px) {
  .project-stat-text {
    font-size: 1rem;
  }
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0px;
}

.task-col-1,
.task-col-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 3%;
}
.task-col-1:not(:last-child),
.task-col-2:not(:last-child) {
  margin-bottom: 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  flex-direction: row;
  margin-top: 1rem;
}
@media (max-width: 576px) {
  .card-container {
    flex-direction: column;
  }
}

.card {
  padding: 1.5rem;
  border-radius: 18px;
  height: 25.5rem;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 25px;
  width: 100%;
}
.card-header .options {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}
.card .card-title {
  font-size: 2rem;
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 1.3;
}
.card.peach {
  background-color: #fcbea4;
}
.card.yellow {
  background-color: #fce6bd;
}
.card .progress-container {
  margin-top: auto;
  margin-bottom: 0.829rem;
}

.daily-tasks-container {
  margin: 0 auto;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tasks-heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.link {
  font-size: 0.9rem;
  color: #f38b51;
  text-decoration: none;
}

.tasks-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(180px, 1fr));
  gap: 1rem;
}

/* Base Task Card */
.task-card {
  cursor: pointer;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Add New Card Style */
.task-card.add-new {
  background: #f5eee6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.add-icon {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: auto;
  align-self: flex-end;
}

/* Task Card Header */
.task-card-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: flex-end;
}

.task-status {
  font-size: 0.85rem;
  color: #333;
}

/* Dots for status */
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.dot.red {
  background: #ff6b6b;
}

.dot.green {
  background: #06b6d4;
}

.dot.white {
  background: white;
  border: 1px solid #fff;
}

/* Done Card Style */
.task-card.done {
  background: #f38b51;
  color: white;
}

.task-card.done .task-status {
  color: white;
}

.task-card.done .card-title {
  color: white;
}

.task-card .card-title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  z-index: 2;
  position: relative;
}
.task-card .card-title.progress {
  font-weight: 500;
}

.svg-background::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: url(../assets/images/lines.svg);
  z-index: 1;
  height: 100px;
  width: 100px;
  opacity: 0.6;
  background-repeat: no-repeat;
  object-fit: cover;
}

.svg-background-2::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url(../assets/images/box.svg);
  z-index: 1;
  opacity: 0.6;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.svg-background-3::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: url(../assets/images/circle.svg);
  z-index: 1;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  object-fit: cover;
}

.progress-checkbox {
  width: 13px;
  height: 13px;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid #f0894d;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.progress-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 2px;
  width: 5px;
  height: 6px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.progress-checkbox:checked {
  background-color: #111111;
  border: 1px solid #111111;
  accent-color: #fcfcfc;
}

.card-title.card-title.break {
  max-width: 288px;
}

.avtar {
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
  object-fit: cover;
}
.avtar.md {
  height: 2.5rem;
  width: 2.5rem;
}
.avtar.big {
  height: 3.125rem;
  width: 3.125rem;
}
.avtar-unknown {
  height: 3.125rem;
  width: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  font-size: 1.25rem;
  color: #f0894d;
  background-color: rgba(241, 182, 139, 0.3490196078);
  border-radius: 50%;
  aspect-ratio: 1;
}

.count {
  height: 3.125rem;
  width: 3.125rem;
  background-color: #111111;
  color: #fcfcfc;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
}
.count.peach {
  border: 3px solid #fcbea4;
}
.count.yellow {
  border: 2px solid #111111;
  color: #111111;
  background-color: #fce6bd;
}

.progress-container {
  width: 100%;
}
.progress-text {
  margin: 0 0 0.5rem 0;
  font-size: 0.9rem;
  color: #222;
}
.progress-bar {
  background-color: rgba(128, 128, 128, 0.3803921569); /* Light background color similar to your image */
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
}
.progress-fill {
  background: #000; /* Dark fill color */
  height: 100%;
  border-radius: 4px 0 0 4px;
}

.reminders-container {
  padding: 1rem 2rem;
  border: 1px solid #eee8e1;
  border-radius: 2rem;
}
.reminders-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.reminders-heading {
  font-weight: 600;
  margin-bottom: 1rem;
}
.reminders-card {
  border: 1px solid #f1e8e0;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.reminders-title {
  font-size: 1.25rem;
  font-weight: 600;
  max-width: 300px;
  color: #222;
}
.reminders-time {
  color: gray;
}

.btn-secondary {
  border: 1px dashed #f1b58b;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  background: transparent;
  color: #222;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}
.btn-secondary:hover {
  background: rgba(241, 181, 139, 0.1254901961);
}
@media (max-width: 1250px) {
  .btn-secondary {
    padding: 0.5rem 0.5rem;
  }
}

.btn-primary {
  background-color: #f0894d;
  margin-top: 1px;
  color: #fcfcfc;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 0.9rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: #ec6a1e;
}
@media (max-width: 1200px) {
  .btn-primary {
    padding: 0.5rem 1rem;
  }
}
@media (max-width: 992px) {
  .btn-primary {
    transform: translateY(-170%);
  }
}

.btn-bell {
  background-color: transparent;
  border: none;
  outline: none;
  color: #111111;
  font-size: 1.5rem;
}

.dots-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}
.dots-container.big {
  justify-content: flex-end;
}

.dot {
  width: 6px;
  height: 6px;
  cursor: pointer;
  background: #f0894d;
  border-radius: 50%;
  opacity: 0.5;
}
.dot.big {
  width: 10px;
  height: 10px;
}

.dot:first-child {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */