.avtar {
  height: rem(30);
  width: rem(30);
  border-radius: 50%;

  &.md {
    height: rem(40);
    width: rem(40);
  }

  &.big {
    height: rem(50);
    width: rem(50);
  }

  &-unknown {
    height: rem(50);
    width: rem(50);
    @include flex-center;
    font-size: map-get($map: $font-scale, $key: lg);
    color: $orange;
    background-color: rgba(241, 182, 139, 0.3490196078);
    border-radius: 50%;
    aspect-ratio: 1;
  }
}
