body {
  @include grid(5% minmax(280px, 1fr) repeat(10, 1fr));
  color: $black;
  background: $white;

  @include respond(xxl) {
    grid-template-columns: 5% minmax(235px, 1fr) repeat(10, 1fr);
  }

  @include respond(lg) {
    grid-template-columns: 1fr;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

.hidden {
  display: none;
}
