.nav {
  grid-column: 1/2;
  @include flex-space-between(center, column);
  position: relative;
  width: 100%;
  background: $white;
  height: 100vh;
  padding-top: 1rem;
  gap: 1rem;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Stay on top */

  @include respond(lg) {
    display: flex;
    flex-direction: row;
    padding: rem(12) rem(12);
    height: 70px;
  }

  & .logo {
    height: rem(70);
    width: 100%;
    background: url("../../assets/images/image-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom: solid 1px $gray;

    // &::after {
    //   @include section-divider-after(rem(80), -1rem, rem(-21));
    // }

    @include respond(lg) {
      height: rem(50);
      width: rem(50);
      border-bottom: none;
    }
  }

  &-items {
    @include flex-center(rem(0), column);
    width: 100%;

    @include respond(lg) {
      flex-direction: row;
      position: fixed;
      bottom: 0px;
      background-color: $white;
      position: fixed;
    }
  }

  &-btn {
    @include flex-center();
    width: 100%;
    cursor: pointer;
    height: rem(70);

    &.active {
      background: $light-bg;
    }
    &:hover {
      background: $light-bg;
    }

    &.help {
      font-weight: bold;
      height: rem(40);
      width: rem(40);
      font-size: 1.25rem;
      aspect-ratio: 1;
      background-color: $black;
      border-radius: 50%;
      color: $white;

      @include respond(lg) {
        position: fixed;
        bottom: 70px;
        right: 21px;
      }
    }

    & svg {
      width: rem(32);
      height: rem(32);
      color: $black;
      stroke-width: 0.5;
    }
  }
}

.user-profile-nav {
  display: none;
}

@media (max-width: 998px) {
  .user-profile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    flex-direction: row;

    .profile-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.25rem;
      flex-direction: row;
    }

    & .user-name {
      font-weight: 600;
    }

    .btn-bell {
      font-size: map-get($map: $font-scale, $key: lg);
    }
  }

  .btn-bell {
    font-size: map-get($map: $font-scale, $key: lg);
  }
}
