.nav {
  grid-column: 1/2;
  @include flex-space-between(center, column);
  position: relative;
  height: 100vh;
  width: 100%;
  background: $white;

  padding: 1rem 0;
  gap: 1rem;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Stay on top */

  & .logo {
    height: rem(70);
    width: 100%;
    background: url("../../assets/images/image-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom: solid 1px $gray;

    // &::after {
    //   @include section-divider-after(rem(80), -1rem, rem(-21));
    // }
  }

  &-items {
    @include flex-center(rem(0), column);
    width: 100%;
  }

  &-btn {
    @include flex-center();
    width: 100%;
    cursor: pointer;
    height: rem(70);

    &.active {
      background: $light-bg;
    }
    &:hover {
      background: $light-bg;
    }

    &.help {
      font-weight: bold;
      height: rem(40);
      width: rem(40);
      font-size: 1.25rem;
      aspect-ratio: 1;
      background-color: $black;
      border-radius: 50%;
      color: $white;
    }

    & svg {
      width: rem(32);
      height: rem(32);
      color: $black;
      stroke-width: 0.5;
    }
  }
}
