.sidebar {
  @include respond(xl) {
    display: none;
  }
  grid-column: 2/3;

  background-color: $light-bg;

  // &-heading::after {
  //   @include section-divider-after(rem(17), rem(-32), rem(-10));
  // }
  .brand-container {
    width: 100%;
    border-bottom: solid 1px $gray;
    padding: 0rem 1rem;
    padding-bottom: 0.6rem;
    padding-top: 1.69rem;
    line-height: 1.5rem;

    .brand-title {
      min-width: 220px;
    }

    .logo-text {
      font-weight: 600;
    }
    .brand-subtitle {
      font-size: map-get($map: $font-scale, $key: sm);
      min-width: 250px;
    }
  }

  .menu {
    margin-top: 2rem;
    padding: 0rem 2rem;
    @include flexbox(column, flex-start, flex-start, nowrap, 1.2rem);
    &-item {
      font-weight: 600;
      font-size: map-get($map: $font-scale, $key: base);
      @include flex-space-between();
      width: 100%;
      cursor: pointer;
    }

    .icon-right {
      display: flex;
      justify-content: space-between;
      height: 24px;
      width: 22px;
    }
  }

  .projects-sublist,
  .tasks-sublist {
    padding-left: 1rem;
  }
  .sublist-item {
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    color: rgb(53, 52, 52);
    cursor: pointer;

    &:hover {
      transform: translateX(5px);
      color: #000;
    }
  }

  .sublist-item:last-child {
    font-weight: 600;
  }
}

.menu-group {
  width: 100%;
}

.projects-sublist,
.tasks-sublist {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.menu-group:hover .projects-sublist,
.menu-group:hover .tasks-sublist {
  max-height: 500px; /* adjust as needed */
  opacity: 1;
}

.menu-group {
  width: 100%;

  .menu-item.expandable {
    @include flex-space-between();

    .icon-right {
      transition: transform 0.3s ease;
    }
  }

  &:hover .menu-item.expandable .icon-right {
    transform: rotate(90deg); // Rotate right arrow to point downward
  }
}
