// Colors
$white : #F2ECE2;
$orange : #F0894D
$skin : #FCBEA4;
$yellow : #FCE6BD;
$black : #111111
$gray : #9D9D9D;

// Typography
$font-base: "Inter", sans-serif;
$font-size-base: 1rem;

// Spacing
$spacer: 1rem;

// Breakpoints
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
